html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    font-family: Arial, sans-serif;
}

body {
    background: url('./img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar{
    width: 100vw;
    height: 50px;
    display: none;
    overflow:hidden;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 1%;
    list-style: none;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 10%;
    width: 35px;
    text-align: center;
    border-radius: 15px;
}

.navbar ul li:nth-child(1) a {
    background-color: #ff0000;
}

.navbar ul li:nth-child(2) a {
    background-color: #0084ff;
}

.navbar ul li:nth-child(3) a {
    background-color: #ff0000;
}

.navbar ul li:nth-child(4) a {
    background-color: #0084ff;
}

.navbar ul li:nth-child(5) a {
    background-color: #ff0000;
}

.navbar ul li:nth-child(6) a {
    background-color: #0084ff;
}

.navbar ul li:nth-child(7) a {
    background-color: #ff0000;
}

.navbar ul li:nth-child(8) a {
    background-color: #0084ff;
}

.navbar ul li a:hover {
    opacity: 0.8;
}

p {
    text-align: justify;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    overflow: hidden;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
}

.logo2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 80%;
    padding-top: 35%;
}

.box .logo2 img {
    max-width: 100%;
    padding-top: 0%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    transition: opacity 0.3s;
}

.menu ul li:nth-child(1) a {
    background-color: #ff0000;
}

.menu ul li:nth-child(2) a {
    background-color: #0084ff;
}

.menu ul li:nth-child(3) a {
    background-color: #ff0000;
}

.menu ul li:nth-child(4) a {
    background-color: #0084ff;
}

.menu ul li:nth-child(5) a {
    background-color: #ff0000;
}

.menu ul li:nth-child(6) a {
    background-color: #0084ff;
}

.menu ul li:nth-child(7) a {
    background-color: #ff0000;
}

.menu ul li:nth-child(8) a {
    background-color: #0084ff;
}

.menu ul li a:hover {
    opacity: 0.8;
}

.content {
    padding: 10px;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

.box {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
}

.box h2 {
    color: #3600cc;
    margin-top: 0;
}

@media (max-width: 450px) {
    
    .content{
        
        width: 100vw;

    }

    .sidebar {
        display: none;
    }

    .navbar{
        width: 100%;
        display: block;
    }

  }